<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OC_JSInteractionDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F79496731D795DB400A3AE06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F794968C1D795DB400A3AE06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F79496971D795DB400A3AE06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
